{#
/**
* @file
* Default theme implementation to present all user data.
*
* This template is used when viewing a registered user's page,
* e.g., example.com/user/123. 123 being the user's ID.
*
* Available variables:
* - content: A list of content items. Use 'content' to print all content, or
* print a subset such as 'content.field_example'. Fields attached to a user
* such as 'user_picture' are available as 'content.user_picture'.
* - attributes: HTML attributes for the container element.
* - user: A Drupal User entity.
*
* @see template_preprocess_user()
*
* @ingroup themeable
*/
#}
<article{{ attributes }}>
</article>
  <div class="container">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="align-items-center text-center">
              <div class="rounded-circle">
                {{content.user_picture[0]}}
              </div>
              <div class="mt-3">
                <h4 class="mb-3">
                  {{user.name.value}}
                </h4>
                <h6 class="mb-2">What do i do?
                </h6>
                <p class="text-secondary mb-3">
                  {{content.field_user_description[0]}}
                </p>
                <button class="btn btn-primary mb-3">Follow</button>
                <button class="btn btn-outline-primary mb-3">Message</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6>User Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ user.name.0.value }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6>Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{content.field_user_al[0]}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6>Phone</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{content.field_user_phone[0]}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6>User Reference</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{content.field_user_reference[0]}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6>Address</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{content.field_user_address[0]}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
