{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<div class="login-buttons-section">
  <a class="login-buttons" href="/user/login">{{ 'LOGIN ACCOUNT'|t }}</a>
  <a class="login-buttons" href="/user/password">{{ 'RESET PASSWORD'|t }}</a>
</div>
<form{{ attributes }}>
  <form class="container">
  	<div class="registration-form">
		  <div class="registration-form-image">
        <div id="error_messages">
        {{ element.messages }}
        </div>
			  <h2 class="login-form-heading">
				  {{ 'Create Account'|t }}
						<small>{{ 'Provide the details below'|t }}</small>
			  </h2>
		  </div>
		<div class="login-form-inner">
			<div>
        {{ element.account.name }}
			</div>
			<div class="row">
				<div class="col-6">
        	{{ element.account.mail }}
				</div>
      	<div class="col-6">
        	{{ element.field_user_al }}
				</div>
			</div>
			<div class="row">
      	<div class="col-6">
        	{{ element.field_user_gender }}
				</div>
      	<div class="col-6">
        	{{ element.field_user_phone }}
				</div>
			<div>
        {{ element.account.roles }}
			</div>
      {{ element.form_build_id }} {# required #}
      {{ element.form_id }} {# required #}
			<div class="login-button">
		  	{{ element.actions.submit }}
      </div>
		</div>
	</div>
</form>

