{#
/**
* @file
* Default theme implementation to present all user data.
*
* This template is used when viewing a registered user's page,
* e.g., example.com/user/123. 123 being the user's ID.
*
* Available variables:
* - content: A list of content items. Use 'content' to print all content, or
* print a subset such as 'content.field_example'. Fields attached to a user
* such as 'user_picture' are available as 'content.user_picture'.
* - attributes: HTML attributes for the container element.
* - user: A Drupal User entity.
*
* @see template_preprocess_user()
*
* @ingroup themeable
*/
#}
{% set roles = user.getroles(TRUE) %}
<article{{ attributes }}>
{% set url = url('<current>') %}
{% if '/profile/' in url|render|render %}
<div class="contact-title">
<h2>{{'My Account'|t}} </h2>
     <a href="#my-projects" class='btn btn-outline-primary'>{{ 'My Projects'|t }}</a>
  <a href="#my-tasks" class='btn btn-outline-primary ml-3'>{{'My Tasks'|t}}</a>
</div>
  <div class="container">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="align-items-center text-center">
              <div class="rounded-circle">
                {{content.user_picture[0]}}
              </div>
              <div class="mt-3">
                <h4 class="mb-3">
                  {{user.name.value}}
                </h4>
                <h6 class="mb-2">{{ 'What do i do?'|t }}
                </h6>
                <p class="text-secondary mb-3">
                  {{content.field_user_description[0]}}
                </p>
                <div>
                <a href="mailto:{{user.mail.value}}" class="btn btn-outline-primary mb-3">{{ 'Message'|t }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6>{{ 'User Name'|t }}</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ user.name.0.value }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6>{{ 'Email'|t }}</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user.mail.0.value}}
              </div>
            </div>
           {% if content.field_user_phone[0] is not null and content.field_user_phone[0] is not empty %}
           <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6>{{ 'Phone'|t }}</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{content.field_user_phone[0]}}
              </div>
            </div>
            <hr>
            {% endif %}
            {% if content.field_user_reference[0] is not null and content.field_user_reference[0] is not empty %}
            <div class="row">
              <div class="col-sm-3">
                <h6>{{ 'User Reference'|t }}</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{content.field_user_reference[0]}}
              </div>
            </div>
            <hr>
            {% endif %}
            {% if content.field_user_address[0] is not null and content.field_user_address[0] is not empty %}
            <div class="row">
              <div class="col-sm-3">
                <h6>{{ 'Address'|t }}</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{content.field_user_address[0]}}
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="my-account-sections mt-3">
  <div class="title-text-underline">
    <h2>{{ 'Recent Activities'|t }}</h2>
      <div>{{ drupal_view('recent_activities', 'block_1') }}
      </div>
  </div>
</div>
<div class="my-account-sections mt-3">
  <div class="title-text-underline">
    <h2>{{ 'My Tasks'|t }}</h2>
    <div id="my-tasks">{{ drupal_view('my_tasks', 'block_1') }}
    </div>
  </div>
</div>
<div id="project-team" class="my-account-sections">
  <div class="row mt-3">
    <div class="col-sm-12 col-md-6 mt-3">
      <div class="title-text-underline">
        <h2>{{ 'My Projects'|t }}</h2>
        </div>
        <div id="my-projects" >{{ drupal_view('my_projects', 'block_1') }}
        </div>
        {% if 'manager' in user.getroles(TRUE)  %}
        <div class="add-button-section">
        <a href="../node/add/project" class="add-button-link"><i class="fa fa-plus-circle"></i></a>
        </div>
        {% endif %}
      </div>
      <div class="col-sm-12 col-md-6 mt-3 ">
        <div class="title-text-underline">
          <h2>{{ 'My Team'|t }}</h2>
        </div>
        <div id="my-team">{{ drupal_view('my_team', 'block_1') }}
        </div>
        {% if 'manager' in user.getroles(TRUE)  %}
        <div class="add-button-section">
        <a href="../admin/people/create" class="add-button-link"><i class="fa fa-plus-circle"></i></a>
        </div>
        {% endif %}
      </div>
    </div>
</div>
{% endif %}
</article>
